*{
  font-family: 'Roboto', sans-serif;
}

body{
    background: #3936C0;
  
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

textarea{
  color: rgba(15, 45, 82, 0.65);
  display: block;
  margin-bottom: 50px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 342px;
  height: 138px;
  margin-top: 65px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-top: 15px;
}

button{
  color: #ffffff;
  background: #000;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer;
  width: 330px;
  height: 57px;
 border: none;
}

button:active{
  opacity: 0.5;
}

ul{
  color: #ffffff;
  background: rgba(255, 255, 255, 0.14);
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
  padding-top: 25px;
  padding-right: 10px;
}

li{
  color: #ffffff;
  
  
}
